
head{
	color:blue;
	font-weight:bold;
	font-size:10px;
}
body{
	background -color: #FB3224;
	text-align:center;
}
#container{
	text-align:center;
}
ul {
	list-style-type:none;
	margin:0;
	padding:0;
}
li{text-align:center;}
li a{
	display:block;
}

